<launch>
    <param name="robot_description" textfile="$(find simulation)/urdf/urdf/create_robot.urdf"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find simulation)/config/create_robot.rviz"/>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <arg name="gazebo_path" default="/usr/bin/gazebo" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
</launch>